*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 400px;
    text-align: center;
    padding: 10px;
    background-color: rgb(198, 211, 21);
    margin: 100px auto;
    border-radius: 20px;
  
}
h1{
font-size: 29px;
color: rgba(22, 128, 250, 0.925);

}
input[type=text]{
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
button{
    background-color: rgb(118, 118, 192);
    padding: 10px 20px;
    color: white;
    margin-top: 9px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
background-color: blue;
}

#result{
    margin-top: 9px;
    font-size: 16px;
    font-weight: bold;
    
}